$stepDefault: #9F9F9F;
$stepActive: #FA9E49;
$stepHover: #2354ac;
$stepWidth: 16px;

.ddm-rating-widget {
  display: inline-block;
}

.ddm-rating-widget__step {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  height: 24px;
  width: $stepWidth;

  &:before {
    content: '\2605';
    color: $stepActive;
    z-index: 2;
    width: 0;
  }

  &:after {
    content: '\2605';
    color: $stepDefault;
    z-index: 1;
  }

  &:before,
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }
}

.ddm-rating-widget__step--hover {
  &:before {
    color: $stepHover !important;
  }
}

.ddm-rating-widget__step--whole:before {
  width: 100%;
}

.ddm-rating-widget__step--half:before {
  width: 50%;
}
